<meta http-equiv="refresh" content="5">
<html><body style="background-color:black;">
<font size="80">
<font color="#E0FFFF">
Current Temperature of the Furnace <br> <br> {{ temp }} C
</font>
{% if temp > 20 %}
<font color="#FF3333">
<br><br>Temp to high!!
</font>
{% else %}
<font color="#E0FFFF">
<br><br>Temp is OK
</font>
{% endif %}
{% if cat_arm_value > 0 %}
<font color="#FF3333">
<br><br> Cat is not engaged
</font>
{% else %}
<font color="#E0FFFF">
<br><br> Cat is engaged
</font>
{% endif %}
</font>
</body>
