{% load static %}
<meta http-equiv="refresh" content="2">
<html><body style="background-color:black;">
{% if temp <= 50 %}
<font color="#3361ff"> <!-- blue -->
{% endif %}
{% if temp > 50 %}
<font color="#05881d"> <!-- #green -->
{% endif %}
{% if temp > 700 %}
<font color="#e2130d"> <!-- #red -->
{% endif %}

<font size="10">
   Current Temperature of the Furnace <br> <br> {{ temp }} C
</font>
<font size="8">
{% if cat_arm_value > 0 %}
<font color="#FF3333">
<br><br> Cat is not engaged
</font>
{% if temp > 400 %}
<font color="#FF3333">
<font size="10">
<br><br>Temp to high!!
</font>
<audio autoplay>
    <source src="{% static 'red-alert-short.wav' %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<br>
{% endif %}

{% else %}
<font color="#E0FFFF">
<font size="8">
<br><br> Cat is engaged
</font>
{% if temp > 760 %}
<font color="#FF3333">
<font size="10">
<br><br>Temp to high!!
</font>
<audio controls autoplay>
    <source src="{% static 'red-alert-short.wav' %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<br>
{% endif %}
{% endif %}
<font size="5">
<font color="#E0FFFF">
<br><br>Furnace specs:
<br> Warm up temp 0C to 345C
<br> Normal opererating Temp 345C to 730C
<br> Over heating temp 760C to 840C
<br> damage > 870C
</font>
</body>
